@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Encode+Sans&display=swap");
body {
  // margin: auto 0;
  background-image: url(/assets/background.png);
}
img {
  fill: black;
}
h1 {
  // font-family: "Pacifico", cursive;
  font-family: "Arial";
  font-weight: initial;
  // font-size: 2.4rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -8px;
  font-size: 94px;
  line-height: 78px;
  text-shadow: 0 0 3px #999;
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.75)),
    to(rgba(0, 0, 0, 1))
  );
  padding-bottom: 15px;
}
h3 {
  text-transform: uppercase;
  font-family: "Encode Sans", sans-serif;
  margin: 0;
}
h4 {
  // text-transform: uppercase;
  font-family: "Encode Sans", sans-serif;
  margin: 0;
  font-size: 1.1em;
}
p {
  font-family: "Encode Sans", sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.6em;
  font-size: 0.9em;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  p {
    padding-left: 0.5em;
  }
}
.progress-bar {
  height: 15px;
  padding: 4px;
  border: 1px solid #dddddd;
  border-radius: 20px;
  div {
    height: inherit;
    border-radius: inherit;
    position: relative;
    box-sizing: border-box;
  }
  .html{
    background: #6ECBFF;
    width: 80%;
  }
  .react-js{
    background: #2982B3;
    width: 62%;
  }
  .wordpress{
    background: #FFC06E;
    width: 60%;
  }
  .scss{
    background: #FFCB87;
    width: 58%;
  }
  .docker{
    background: #B37F3B;
    width: 50%;
  }
  .php{
    background: #6ECBFF;
    width: 40%;
  }
  .laravel-vue-angular{
    background: #2982B3;
    width: 30%;
  }
}

header,
section,
main {
  margin: 0 auto;
  max-width: 940px;
}
main {
margin-bottom: 5em;
}

#bio {
  // display: flex; ??
  padding: 30px 60px 0px 50px;
  article {
    box-sizing: border-box;
    position: relative;
    height: 515px;
    border-bottom: 1px solid #afafaf;
    border-right: 1px solid #afafaf;
    #position {
      display: flex;
      justify-content: center;
      position: absolute;
      padding-left: 50px;
      h3 {
        text-align: end;
      }
      span {
        background: brown;
        width: 5px;
        margin: 0 25px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        transform: rotate(30deg);
      }
    }
    .image {
      // DIV IMAGE
      position: relative;
      float: right;
      max-width: 460px;
      height: 515px;
      width: 460px;
      background: url(/assets/look-down-25pc.png) no-repeat center center;
      background-size: 460px 515px;
      shape-outside: polygon(
        59px 498px,
        102px 453px,
        132px 380px,
        176px 286px,
        148px 243px,
        154px 196px,
        132px 177px,
        136px 91px,
        171px 42px,
        213px 11px,
        254px 3px,
        318px 10px,
        351px 45px,
        461px 278px,
        460px 515px,
        6px 514px
      );
    }
    p {
      color: gray;
      padding-top: 50px;
      padding-left: 35px;
      text-align: justify;
      padding-right: 0.4em;
    }
    p:nth-of-type(2) {
      text-align: right;
      padding-top: 30px;
    }
  }
  .social {
    justify-content: space-between;
    flex-direction: column;
    height: inherit;
    display: flex;
    position: absolute;
    right: -61px;
    top: 0;
    .contact {
      figure {
        position: fixed;
        background-image: url(/assets/background.png);
      }
    }
    figure {
      a {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
      }
      display: flex;
      flex-direction: column;
      margin: 0;
      // padding-left: 14px;
      img {
        width: 30px;
        // margin: 15px 0;
      }
    }
  }
}
#menu {
  padding: 0 60px 0 0.4em;
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 0.4em;
    padding: 10px 0;
    border-bottom: 1px #afafaf solid;
  }
}
#content {
  padding: 0.4em 60px 0px 0.4em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.4em;
}
@media only screen and (max-width: 808px) {
  #bio {
    article {
      h1 {
        position: absolute;
        left: 0;
        transform: translateX(-50px);
        writing-mode: vertical-rl;
      }
    }
  }
}
@media only screen and (max-width: 711px) {
  #bio {
    article {
      min-height: 404px;
      height: 100%;
    }
    .image {
      float: none !important;
      position: absolute !important ;
      bottom: 0;
      right: 0;
      opacity: 0.05;
    }
  }
}
@media only screen and (max-width: 530px) {
  #bio {
    h1:first-child {
      font-size: 80px;
    }
  }
}
@media only screen and (max-width: 464px) {
  #bio {
    h1:first-child {
      font-size: 50px;
      letter-spacing: -5px;
      line-height: 50px;
    }
    article {
      h1 {
        font-size: 80px;
      }
    }
    #position {
      h3:nth-of-type(2) {
        display: none;
      }
      span {
        display: none;
      }
    }
  }
}
